<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AndroidRemoteServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AndroidRemoteServer.Properties.Settings>
            <setting name="emu_n64" serializeAs="String">
                <value>D:\emulators\Project64 1.7\Project64.exe</value>
            </setting>
            <setting name="emu_psx" serializeAs="String">
                <value>D:\emulators\xebra\arbex.exe</value>
            </setting>
            <setting name="n64_rom_folders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\roms\n64\</string>
                        <string>\\mato-pc\XBMC (D)\roms\n64</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="psx_rom_folders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\roms\psx\</string>
                        <string>\\mato-pc\XBMC (D)\roms\psx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="psx_rom_filters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.iso</string>
                        <string>*.bin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="n64_args" serializeAs="String">
                <value>"{0}"</value>
            </setting>
            <setting name="psx_args" serializeAs="String">
                <value>-RUN2 -FULL -IMAGE "{0}"</value>
            </setting>
            <setting name="host" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>6699</value>
            </setting>
            <setting name="n64_rom_filters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.zip</string>
                        <string>*.n64</string>
                        <string>*.v64</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="emu_nes" serializeAs="String">
                <value>D:\emulators\nestopia\nestopia.exe</value>
            </setting>
            <setting name="emu_snes" serializeAs="String">
                <value>D:\emulators\snes9x\snes9x.exe</value>
            </setting>
            <setting name="emu_gba" serializeAs="String">
                <value>D:\emulators\vba-m\vba-m.exe</value>
            </setting>
            <setting name="nes_rom_folders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\roms\nes\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="snes_rom_folders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\roms\snes\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="gba_rom_folders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\roms\gba</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="nes_rom_filters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.zip</string>
                        <string>*.nes</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="snes_rom_filters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.zip</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="gba_rom_filters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.gba</string>
                        <string>*.zip</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="nes_args" serializeAs="String">
                <value>"{0}"</value>
            </setting>
            <setting name="snes_args" serializeAs="String">
                <value>"{0}"</value>
            </setting>
            <setting name="gba_args" serializeAs="String">
                <value>"{0}"</value>
            </setting>
        </AndroidRemoteServer.Properties.Settings>
    </applicationSettings>
</configuration>